.overview {
  .form-control-static {
    padding: 0;
  }

  .captcha {
    .captcha-input {
      padding-top: 3px;
    }

    @media only screen and (max-width: 768px) {
      .form-group {
        padding: 0 10px;
      }
    }

  }
}
