.cookieBanner {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 1000;
  background: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  text-align: center;
  padding: 10px 25px;

  p {
    font-size: 12px;
  }
}