/**
  Konfiguration
 */
$footer-background-color:   #f8f8f8;
$footer-color:              #fff;
$footer-link-color:         #424242;

//Anpassungen für den Footer
.footer {
  background-color: $footer-background-color;
  color: $footer-color;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 10px 0;
  border-top: 1px solid #e7e7e7;

  //Navigation im Footer
  .footer-navigation {
    float: right;
    margin: 0;
    padding: 0;

    //Alle Navigation-Punkte
    li {
      list-style: none;
      float: left;
      padding: 0 15px;

      //Links in der Navigation
      a {
        color: $footer-link-color;
        font-size: 14px;

        //Hover
        &:hover {
          text-decoration: none;
          color: darken($footer-link-color, 15%);
        }
      }
    }
  }

  .footer-label {
    margin: 0;
    color: #616161;
  }

}


@media only screen and (max-width: 768px) {
  .footer {
    .footer-label {
      text-align: center;
    }

    .footer-navigation {
      float: none;
    }
  }
}