aside.sidebar-info {
  position: fixed;
  right: 0;
  height: 100%;
  width: 250px;
  background: #f8f8f8;
  top: 0;
  margin-top: 52px;
  border-left: 1px solid #e7e7e7;

  > .title {
    padding: 15px;
    text-align: center;
    font-weight: bold;
  }

  .wrapper {
    padding: 15px;

    .name,
    .subjects {
      margin-bottom: 25px;
      padding-bottom: 10px;
      border-bottom: 1px solid #e7e7e7;

      .title,
      .value {
        display: block;
      }

      .title {
        font-weight: bold;
      }

      .value {
        margin-bottom: 15px;
      }


    }
  }

  .clearAll {
    text-align: center;
    a {
      color: #a7a7a7;

      &:hover {
        color: darken(#a7a7a7, 20%);
        text-decoration: none;
      }
    }
  }
}


@media only screen and (max-width: 768px) {
  aside.sidebar-info {
    position: relative;
    width: 100%;
    padding-bottom: 100px;
  }
}