.subjects {

  form {
    text-align: center;

    input.radio {
      display: none;
    }

    label.option {
      cursor: pointer;
      background-color: #f8f8f8;
      min-width: 230px;
      height: 100px;
      border: 1px solid #e7e7e7;
      margin: 10px;
      text-align: center;
      border-radius: 4px;
      transition: background-color 0.25s ease;
      font-size: 16px;
      font-weight: normal;
      padding: 37px 10px;
      &:hover {
        background-color: darken(#f8f8f8, 5%);
      }

      @media only screen and (max-width: 768px) {
        font-size: 14px;
      }

    }

    input.radio:checked + label.option {
      border: 1px solid #d6e9c6;
      background-color: #dff0d8;
      transition: background-color 0.25s ease;

      &:hover {
        background-color: darken(#dff0d8, 5%);
      }
    }

    .buttons {
      margin: 50px auto 0;
      width: auto;
      display: table;

      .btn {
        display: block;
        margin: 0 10px;
        float: left;
      }
    }


  }
}