.h1, h1 {
  font-size: 30px;
}

img {
  width: 100%;
  height: auto;
}

.container__main {
  margin-bottom: 50px;
}


@media only screen and (max-width: 991px) {
  .container__main {
    padding-bottom: 125px;
  }
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}

/**
Anpassungen für die Sidebar
 */
.hasSidebar {

  @media only screen and (min-width: 769px) and (max-width: 1299px) {
    &.container__main {
      padding-right: 250px;
    }
  }

  @media only screen and (min-width: 1300px) and (max-width: 1499px) {
    &.container__main {
      padding-right: 200px;
    }
  }

  @media only screen and (min-width: 1500px) and (max-width: 1675px) {
    &.container__main {
      padding-right: 110px;
    }
  }
}
