@import "global";

@import "components/navigation";
@import "components/footer";
@import "components/sidebar";
@import "components/description";
@import "components/subjects";
@import "components/captcha";
@import "components/cookieBanner";

@import "pages/start";
@import "pages/overview";
@import "pages/privacy";

body {
  background-color: #fcfcfc;

  p {
    font-size: 15px;
  }
}
