<!-- header -->
{include file="components/header.html"}

<div class="container container__main hasSidebar">
    <h1>{$title}</h1>

    <!-- description -->
    {include file="components/description.html"}

    <div class="subjects">
        {$content}
    </div>

</div>

<!-- sidebar -->
{include file="components/sidebar.html"}

<!-- footer -->
{include file="components/footer.html"}
