<!-- header -->
{include file="components/header.html"}

<div class="container container__main language hasSidebar">
    <h1>{$title}</h1>

    <!-- description -->
    {include file="components/description.html"}

    <form method="post">

        <div class="form-group">
            <label for="participated">{$label}</label>

            <select class="form-control" name="participated" id="participated" required>
                {$participated}
            </select>

        </div>

        <input class="btn btn-primary btn-lg" type="submit" value="Weiter">

    </form>

</div>

<!-- sidebar -->
{include file="components/sidebar.html"}

<!-- footer -->
{include file="components/footer.html"}
