<!-- header -->
{include file="components/header.html"}

<div class="container container__main name hasSidebar">
    <h1>{$title}</h1>

    <!-- description -->
    {include file="components/description.html"}

    <form method="post">

        <div class="form-group">
            <label for="firstname">Vorname</label>
            <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Max" value="{$formFirstname}" required>
        </div>

        <div class="form-group">
            <label for="lastname">Nachname</label>
            <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Mustermann" value="{$formLastname}" required>
        </div>

        <input class="btn btn-primary btn-lg" type="submit" value="Weiter">

    </form>

</div>

<!-- sidebar -->
{include file="components/sidebar.html"}

<!-- footer -->
{include file="components/footer.html"}
