<!-- header -->
{include file="components/header.html"}

<div class="container container__main overview">
    <h1>{$title}</h1>

    <!-- description -->
    {include file="components/description.html"}


    <div class="panel panel-default">
        <div class="panel-heading">Ihre persönlichen Angaben</div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{$firstname} {$lastname}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Ihre Prüfungsfächer</div>
        <div class="panel-body">

            <div class="form-group">
                <label class="col-sm-2 control-label">Schwerpunkt</label>
                <div class="col-sm-10">
                    <p class="form-control-static"> {$main}</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Prüfungsfach 1</label>
                <div class="col-sm-10">
                    <p class="form-control-static"> {$sub1}</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Prüfungsfach 2</label>
                <div class="col-sm-10">
                    <p class="form-control-static"> {$sub2}</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Prüfungsfach 3</label>
                <div class="col-sm-10">
                    <p class="form-control-static"> {$sub3}</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Prüfungsfach 4</label>
                <div class="col-sm-10">
                    <p class="form-control-static"> {$sub4}</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Prüfungsfach 5</label>
                <div class="col-sm-10">
                    <p class="form-control-static"> {$sub5}</p>
                </div>
            </div>

        </div>
    </div>

    <div class="panel panel-default no-print">
        <div class="panel-heading">Drucken oder übermitteln</div>
        <div class="panel-body">
            <div class="buttons clearfix">
                <p>Sie können Ihre Informationen drucken oder direkt an die Schule übermitteln.</p>
                <button class="btn btn-primary printBtn">Drucken</button>
                <button class="btn btn-primary mailBtn">Übermitteln</button>
            </div>
        </div>
    </div>

</div>

<!-- footer -->
{include file="components/footer.html"}
