{include file="components/header.html"}

<div class="container container__main privacy">

    <h1>Datenschutzerklärung</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="text">
                <p>
                    Die nachfolgende Datenschutzerklärung gilt für die Nutzung der Webseite [www.xyz.de] (nachfolgend
                    „Website“). Wir messen dem Datenschutz große Bedeutung bei. Die Erhebung und Verarbeitung Ihrer
                    personenbezogenen Daten geschieht unter Beachtung der geltenden datenschutzrechtlichen Vorschriften,
                    insbesondere der EU-Datenschutzgrundverordnung (DSGVO). Wir erheben und verarbeiten Ihre
                    personenbezogenen Daten, um Ihnen das oben genannten Portal anbieten zu können. Diese Erklärung
                    beschreibt, wie und zu welchem Zweck Ihre Daten erfasst und genutzt werden und welche
                    Wahlmöglichkeiten Sie im Zusammenhang mit persönlichen Daten haben. Durch Ihre Verwendung dieser
                    Website stimmen Sie der Erfassung, Nutzung und Übertragung Ihrer Daten gemäß dieser
                    Datenschutzerklärung zu.
                </p>

                <h3>1. Verantwortliche Stelle</h3>
                <p>
                    Verantwortliche Stelle für die Erhebung, Verarbeitung und Nutzung Ihrer personenbezogenen Daten im
                    Sinne der DSGVO ist
                </p>
                <p>
                    Herr Torsten Janßen, Schulleiter<br/>
                    Blinke 39<br/>
                    26789 Leer<br/>
                    Telefon: 04 91 / 92 750<br/>
                    Fax: 04 91 / 92 75 218<br/>
                    E-Mail: mail@bbs2leer.de
                </p>
                <p>
                    Sofern Sie der Erhebung, Verarbeitung oder Nutzung Ihrer Daten durch uns nach Maßgabe dieser
                    Datenschutzbestimmungen insgesamt oder für einzelne Maßnahmen widersprechen wollen, können Sie Ihren
                    Widerspruch an oben genannte verantwortliche Stelle richten. Sie können diese Datenschutzerklärung
                    jederzeit speichern und ausdrucken.
                </p>

                <h3>2. Allgemeine Nutzung der Webseite</h3>
                <h4>2.1 Zugriffsdaten</h4>
                <p>
                    Wir sammeln Informationen über Sie, wenn Sie diese Webseite nutzen. Wir erfassen automatisch
                    Informationen über Ihr Nutzungsverhalten und Ihre Interaktion mit uns und registrieren Daten zu
                    Ihrem Computer oder Mobilgerät. Wir erheben, speichern und nutzen Daten über jeden Zugriff auf unser
                    Onlineangebot (sogenannte Serverlogfiles). Zu den Zugriffsdaten gehören Name und URL der abgerufenen
                    Datei, Datum und Uhrzeit des Abrufs, übertragene Datenmenge, Meldung über erfolgreichen Abruf (HTTP
                    response code), Browsertyp und Browserversion, Betriebssystem, Referrer URL (d.h. die zuvor besuchte
                    Seite), IP-Adresse und der anfragende Provider.
                </p>
                <p>
                    Wir nutzen so genannte Cookies. Cookies dienen dazu, unser Angebot effektiver und sicherer zu
                    machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser
                    speichert. Wir verwenden aussschließlich so genannte „Session-Cookies“. Sie werden nach Ende Ihres
                    Besuchs automatisch gelöscht. Sie können Ihren Browser so einstellen, dass Sie über das Setzen von
                    Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für
                    bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies beim Schließen
                    des Browser aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website
                    eingeschränkt sein.
                </p>
                <p>
                    Wir nutzen diese Protokolldaten ohne Zuordnung zu Ihrer Person oder sonstiger Profilerstellung für
                    statistische Auswertungen zum Zweck des Betriebs, der Sicherheit und der Optimierung unseres
                    Onlineangebotes, aber auch zur anonymen Erfassung der Anzahl der Besucher auf unserer Webseite
                    (traffic) sowie zu Umfang und zur Art der Nutzung unserer Webseite und Dienste. Aufgrund dieser
                    Informationen können wir personalisierte und standortbezogene Inhalte zur Verfügung stellen und den
                    Datenverkehr analysieren, Fehler suchen und beheben und unsere Dienste verbessern. Wir behalten uns
                    vor, die Protokolldaten nachträglich zu überprüfen, wenn aufgrund konkreter Anhaltspunkte der
                    berechtigte Verdacht einer rechtswidrigen Nutzung besteht. IP-Adressen speichern wir für einen
                    begrenzten Zeitraum in den Logfiles, wenn dies für Sicherheitszwecke erforderlich oder für die
                    Leistungserbringung. IP-Adressen speichern wir auch dann, wenn wir den konkreten Verdacht einer
                    Straftat im Zusammenhang mit der Nutzung unserer Website haben.
                </p>

                <h4>2.2 E-Mail Kontakt</h4>
                <p>
                    Wenn Sie mit uns in Kontakt treten (z. B. die Übermittlung Ihrer Daten oder E-Mail), speichern wir
                    Ihre Angaben zur Bearbeitung der Anfrage sowie für den Fall, dass Anschlussfragen entstehen. Weitere
                    personenbezogene Daten speichern und nutzen wir nur, wenn Sie dazu einwilligen oder dies ohne
                    besondere Einwilligung gesetzlich zulässig ist.
                </p>


                <h4>2.3 Rechtsgrundlagen und Speicherdauer</h4>
                <p>
                    Rechtsgrundlage der Datenverarbeitung nach den vorstehenden Ziffern ist Art 6 Abs. 1 Buchstabe f)
                    DSGVO. Unsere Interessen an der Datenverarbeitung sind insbesondere die Sicherstellung des Betriebs
                    und der Sicherheit der Webseite, die Untersuchung der Art und Weise der Nutzung der Webseite durch
                    Besucher, und die Vereinfachung der Nutzung der Webseite. Sofern nicht spezifisch angegeben
                    speichern wir personenbezogene Daten nur so lange, wie dies zur Erfüllung der verfolgten Zwecke
                    notwendig ist.
                </p>


                <h3>3. Ihre Rechte als von der Datenverarbeitung Betroffener </h3>
                <p>
                    Nach den anwendbaren Gesetzen haben Sie verschiedene Rechte bezüglich ihrer personenbezogenen Daten.
                    Möchten Sie diese Rechte geltend machen, so richten Sie Ihre Anfrage bitte per E-Mail oder per Post
                    unter eindeutiger Identifizierung Ihrer Person an die in Ziffer 1 genannte Adresse. Nachfolgend
                    finden Sie eine Übersicht über Ihre Rechte.
                </p>

                <h4>3.1 Recht auf Bestätigung und Auskunft</h4>
                <p>
                    Sie haben jederzeit das Recht, von uns eine Bestätigung darüber zu erhalten, ob Sie betreffende
                    personenbezogene Daten verarbeitet werden. Ist dies der Fall, so haben Sie das Recht, von uns eine
                    unentgeltliche Auskunft über die zu Ihnen gespeicherten personenbezogenen Daten nebst einer Kopie
                    dieser Daten zu erlangen. Desweiteren besteht ein Recht auf folgende Informationen:
                </p>
                <p>
                <ol>
                    <li>
                        die Verarbeitungszwecke;
                    </li>
                    <li>
                        die Kategorien personenbezogener Daten, die verarbeitet werden;
                    </li>
                    <li>
                        die Empfänger oder Kategorien von Empfängern, gegenüber denen die personenbezogenen Daten
                        offengelegt worden sind oder noch offengelegt werden, insbesondere bei Empfängern in
                        Drittländern oder bei internationalen Organisationen;
                    </li>
                    <li>
                        falls möglich die geplante Dauer, für die die personenbezogenen Daten gespeichert werden,
                        oder, falls dies nicht möglich ist, die Kriterien für die Festlegung dieser Dauer;
                    </li>
                    <li>
                        das Bestehen eines Rechts auf Berichtigung oder Löschung der Sie betreffenden
                        personenbezogenen Daten oder auf Einschränkung der Verarbeitung durch den Verantwortlichen oder
                        eines Widerspruchsrechts gegen diese Verarbeitung;
                    </li>
                    <li>
                        das Bestehen eines Beschwerderechts bei einer Aufsichtsbehörde;
                    </li>
                    <li>
                        wenn die personenbezogenen Daten nicht bei Ihnen erhoben werden, alle verfügbaren
                        Informationen über die Herkunft der Daten;
                    </li>
                    <li>
                        das Bestehen einer automatisierten Entscheidungsfindung einschließlich Profiling gemäß
                        Artikel 22 Absätze 1 und 4 DSGVO und – zumindest in diesen Fällen – aussagekräftige
                        Informationen über die involvierte Logik sowie die Tragweite und die angestrebten Auswirkungen
                        einer derartigen Verarbeitung für Sie.
                    </li>
                </ol>
                </p>
                <p>
                    Werden personenbezogene Daten an ein Drittland oder an eine internationale Organisation übermittelt,
                    so haben Sie das Recht, über die geeigneten Garantien gemäß Artikel 46 DSGVO im Zusammenhang mit der
                    Übermittlung unterrichtet zu werden.
                </p>


                <h4>
                    3.2 Recht auf Berichtigung
                </h4>
                <p>
                    Sie haben das Recht, von uns unverzüglich die Berichtigung Sie betreffender unrichtiger
                    personenbezogener Daten zu verlangen. Unter Berücksichtigung der Zwecke der haben Sie das Recht, die
                    Vervollständigung unvollständiger personenbezogener Daten – auch mittels einer ergänzenden Erklärung
                    – zu verlangen.
                </p>

                <h4>
                    3.3 Recht auf Löschung („Recht auf Vergessenwerden“)
                </h4>
                <p>
                    Sie haben das Recht, von uns zu verlangen, dass Sie betreffende personenbezogene Daten unverzüglich
                    gelöscht werden, und wir sind verpflichtet, personenbezogene Daten unverzüglich zu löschen, sofern
                    einer der folgenden Gründe zutrifft:
                </p>
                <p>
                <ol>
                    <li>
                        Die personenbezogenen Daten sind für die Zwecke, für die sie erhoben oder auf sonstige Weise
                        verarbeitet wurden, nicht mehr notwendig.
                    </li>
                    <li>
                        Sie widerrufen Ihre Einwilligung, auf die sich die Verarbeitung gemäß Artikel 6 Absatz 1
                        DSGVO Buchstabe a oder Artikel 9 Absatz 2 Buchstabe a DSGVO stützte, und es fehlt an einer
                        anderweitigen Rechtsgrundlage für die Verarbeitung.
                    </li>
                    <li>
                        Sie legen gemäß Artikel 21 Absatz 1 DSGVO Widerspruch gegen die Verarbeitung ein und es
                        liegen keine vorrangigen berechtigten Gründe für die Verarbeitung vor, oder Sie legen gemäß
                        Artikel 21 Absatz 2 DSGVO Widerspruch gegen die Verarbeitung ein.
                    </li>
                    <li>
                        Die personenbezogenen Daten wurden unrechtmäßig verarbeitet.
                    </li>
                    <li>
                        Die Löschung der personenbezogenen Daten ist zur Erfüllung einer rechtlichen Verpflichtung
                        nach dem Unionsrecht oder dem Recht der Mitgliedstaaten erforderlich, dem wir unterliegen.
                    </li>
                    <li>
                        Die personenbezogenen Daten wurden in Bezug auf angebotene Dienste der
                        Informationsgesellschaft gemäß Artikel 8 Absatz 1 DSGVO erhoben.
                    </li>
                </ol>
                </p>
                <p>
                    Haben wir die personenbezogenen Daten öffentlich gemacht und sind wir gemäß Art. 17 DSGVO zu deren
                    Löschung verpflichtet, so treffen wir unter Berücksichtigung der verfügbaren Technologie und der
                    Implementierungskosten angemessene Maßnahmen, auch technischer Art, um für die Datenverarbeitung
                    Verantwortliche, die die personenbezogenen Daten verarbeiten, darüber zu informieren, dass Sie von
                    ihnen die Löschung aller Links zu diesen personenbezogenen Daten oder von Kopien oder Replikationen
                    dieser personenbezogenen Daten verlangt haben.
                </p>


                <h4>3.4 Recht auf Einschränkung der Verarbeitung</h4>
                <p>
                    Sie haben das Recht, von uns die Einschränkung der Verarbeitung zu verlangen, wenn eine der
                    folgenden Voraussetzungen gegeben ist:
                </p>
                <p>
                <ol>
                    <li>
                        die Richtigkeit der personenbezogenen Daten wird von Ihnen bestritten, und zwar für eine
                        Dauer, die es uns ermöglicht, die Richtigkeit der personenbezogenen Daten zu überprüfen,
                    </li>
                    <li>
                        die Verarbeitung unrechtmäßig ist und Sie die Löschung der personenbezogenen Daten
                        ablehntenund stattdessen die Einschränkung der Nutzung der personenbezogenen Daten verlangt;
                    </li>
                    <li>
                        wir die personenbezogenen Daten für die Zwecke der Verarbeitung nicht länger benötigen, Sie
                        die Daten jedoch zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen benötigten,
                        oder
                    </li>
                    <li>
                        Sie Widerspruch gegen die Verarbeitung gemäß Artikel 21 Absatz 1 DSGVO eingelegt haben,
                        solange noch nicht feststeht, ob die berechtigten Gründe unserer Bildungseinrichtung gegenüber
                        den Ihren überwiegen.
                    </li>
                </ol>
                </p>

                <h4>
                    3.5 Recht auf Datenübertragbarkeit
                </h4>
                <p>
                    Sie haben das Recht, die Sie betreffenden personenbezogenen Daten, die uns bereitgestellt haben, in
                    einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten, und Sie haben das Recht,
                    diese Daten einem anderen Verantwortlichen ohne Behinderung durch uns zu übermitteln, sofern
                </p>
                <p>
                <ol>
                    <li>
                        die Verarbeitung auf einer Einwilligung gemäß Artikel 6 Absatz 1 Buchstabe a DSGVO oder
                        Artikel 9 Absatz 2 Buchstabe a DSGVO oder auf einem Vertrag gemäß Artikel 6 Absatz 1 Buchstabe b
                        DSGVO beruht und
                    </li>
                    <li>
                        die Verarbeitung mithilfe automatisierter Verfahren erfolgt.
                    </li>
                </ol>
                </p>
                <p>
                    Bei der Ausübung ihres Rechts auf Datenübertragbarkeit gemäß Absatz 1 haben Sie das Recht, zu
                    erwirken, dass die personenbezogenen Daten direkt von uns einem anderen Verantwortlichen übermittelt
                    werden, soweit dies technisch machbar ist.
                </p>


                <h4>
                    3.6 Widerspruchsrecht
                </h4>
                <p>
                    Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen
                    die Verarbeitung sie betreffender personenbezogener Daten, die aufgrund von Artikel 6 Absatz 1
                    Buchstaben e oder f DSGVO erfolgt, Widerspruch einzulegen; dies gilt auch für ein auf diese
                    Bestimmungen gestütztes Profiling. Wir verarbeiten die personenbezogenen Daten nicht mehr, es sei
                    denn, wir können zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre
                    Interessen, Rechte und Freiheiten überwiegen, oder die Verarbeitung dient der Geltendmachung,
                    Ausübung oder Verteidigung von Rechtsansprüchen.
                </p>

                <p>
                    Werden personenbezogene Daten von uns verarbeitet, um Direktwerbung zu betreiben, so haben Sie das
                    Recht, jederzeit Widerspruch gegen die Verarbeitung Sie betreffender personenbezogener Daten zum
                    Zwecke derartiger Werbung einzulegen; dies gilt auch für das Profiling, soweit es mit solcher
                    Direktwerbung in Verbindung steht.
                </p>

                <p>
                    Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, gegen die Sie
                    betreffende Verarbeitung sie betreffender personenbezogener Daten, die zu wissenschaftlichen oder
                    historischen Forschungszwecken oder zu statistischen Zwecken gemäß Artikel 89 Absatz 1 DSGVO
                    erfolgt, Widerspruch einzulegen, es sei denn, die Verarbeitung ist zur Erfüllung einer im
                    öffentlichen Interesse liegenden Aufgabe erforderlich.
                </p>


                <h4>
                    3.7 Automatisierte Entscheidungen einschließlich Profiling
                </h4>
                <p>
                    Sie haben das Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung –
                    einschließlich Profiling – beruhenden Entscheidung unterworfen zu werden, die Ihnen gegenüber
                    rechtliche Wirkung entfaltet oder Sie in ähnlicher Weise erheblich beeinträchtigt.
                </p>

                <h4>
                    3.8 Recht auf Widerruf einer datenschutzrechtlichen Einwilligung
                </h4>
                <p>
                    Sie haben das Recht, eine Einwilligung zur Verarbeitung personenbezogener Daten jederzeit zu
                    widerrufen.
                </p>


                <h4>
                    3.9 Recht auf Beschwerde bei einer Aufsichtsbehörde
                </h4>
                <p>
                    Sie haben das Recht auf Beschwerde bei einer Aufsichtsbehörde, insbesondere in dem Mitgliedstaat
                    ihres Aufenthaltsorts, ihres Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes, Sie der
                    Ansicht sind, dass die Verarbeitung der Sie betreffenden personenbezogenen Daten rechtswidrig ist.
                </p>

                <h3>
                    4 Datensicherheit
                </h3>
                <p>
                    Wir sind um die Sicherheit Ihrer Daten im Rahmen der geltenden Datenschutzgesetze und technischen
                    Möglichkeiten maximal bemüht.
                    Ihre persönlichen Daten werden bei uns verschlüsselt übertragen. Wir nutzen das Codierungssystems
                    SSL (Secure Socket Layer), weisen jedoch darauf hin, dass die Datenübertragung im Internet (z.B. bei
                    der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor
                    dem Zugriff durch Dritte ist nicht möglich.
                    Zur Sicherung Ihrer Daten unterhalten wir technische- und organisatorische Sicherungsmaßnahmen, die
                    wir immer wieder dem Stand der Technik anpassen.
                </p>
                <p>
                    Wir gewährleisten außerdem nicht, dass unser Angebot zu bestimmten Zeiten zur Verfügung steht;
                    Störungen, Unterbrechungen oder Ausfälle können nicht ausgeschlossen werden. Die von uns verwendeten
                    Server werden regelmäßig sorgfältig gesichert.
                </p>


                <h3>
                    5 Automatisierte Entscheidungsfindung
                </h3>
                <p>
                    Eine automatisierte Entscheidungsfindung auf der Grundlage der erhobenen personenbezogenen Daten
                    findet nicht statt.
                </p>

                <h3>
                    6 Weitergabe von Daten an Dritte, Keine Datenübertragung ins Nicht-EU-Ausland
                </h3>
                <p>
                    Grundsätzlich verwenden wir Ihre personenbezogenen Daten nur innerhalb unserer Bildungseinrichtung.
                    Wenn und soweit wir Dritte einschalten, erhalten diese personenbezogene Daten nur in dem Umfang, in
                    welchem die Übermittlung für die entsprechende Leistung erforderlich ist.
                </p>

                <p>
                    Eine Datenübertragung an Stellen oder Personen außerhalb der EU außerhalb der in dieser Erklärung in
                    Punkt 2.3 genannten Fällen findet nicht statt und ist nicht geplant.
                </p>

            </div>
        </div>
    </div>
</div>

{include file="components/footer.html"}
