{include file="components/header.html"}

<div class="container container__main start">

    <h2 class="text-center">
        <small>{$subtitle}</small>
    </h2>
    <h1 class="text-center">{$title}</h1>


    <section class="introduction">

        <div class="row">
            <div class="col-md-6">
                <div class="text">
                    <h3>Die Wahl der Prüfungsfächer und Kurse</h3>
                    <p>
                        Im beruflichen Gymnasium ist nach der Einführungsphase (Klasse 11) die Wahl der Prüfungsfächer und Kurse notwendig.
                    </p>
                    <p>
                        Diese Webanwendung unterstützt Sie bei Ihrer Wahl. Schrittweise werden Sie durch die komplexe Kurswahl begleitet.
                        Benötigte Informationen für das Kursangebot werden dabei abgefragt und ausgewertet.
                    </p>
                    <p>
                        Die gewählten Prüfungsfächer und Kurse können abschließend ausgedruckt oder direkt an die Bildungseinrichtung übertragen werden.
                        Alle Informationen werden nach 60 Minuten dauerhaft entfernt.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text">
                    <h3>Wie funktioniert die Wahl?</h3>
                    <p>
                        In der Kursauswahl wählen Sie ihre Prüfungskombination aus fünf verschiedenen Prüfungsfächer,
                        unter den dazugehörigen Richtlinien des niedersächsischen Kultusministeriums aus. Diese
                        Regelungen werden ihnen im Verlauf des Prozesses erläutert. Die Ergebnisse können anschließend
                        im PDF-Format heruntergeladen werden oder als Mail-Anhang verschickt werden.
                        <br/><br/>
                        <img src="{$path}/assets/images/Abbildung1.png" height="50">
                    </p>
                </div>

            </div>
        </div>

        <div class="text text-center">
            <p><strong>Sind Sie bereit? Kurswahl jetzt starten!</strong></p>
            <p><a class="btn btn-primary btn-lg" href="{$startLink}">Kurswahl starten</a></p>
        </div>
    </section>

</div>

{include file="components/footer.html"}
