<footer class="footer no-print">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="footer-label">
                    Ihre Prüfungsfächerwahl der BBS II Leer
                </p>
            </div>
            <div class="col-md-6">
                <ul class="footer-navigation clearfix">
                    {$footer}
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Modal: Abfrage zur Löschung der Daten -->
<div class="modal fade" id="clearInformationModal" tabindex="-1" role="dialog"
     aria-labelledby="clearInformationModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="clearInformationModalLabel">Gespeicherte Informationen löschen?</h4>
            </div>
            <div class="modal-body">
                <p>
                    Mit der Bestätigung werden alle gespeicherten Informationen dauerhaft gelöscht.
                    Dieser Vorgang kann nicht rückgängig gemacht werden.
                </p>

                <p>
                    <strong>Alle gespeicherten Informationen dauerhaft löschen?</strong>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                <a href="/index.php?action=clearStorage" class="btn btn-primary">Informationen löschen</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Senden der Ergebnisse -->
<div class="modal fade" id="mailModal" tabindex="-1" role="dialog" aria-labelledby="mailModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="mailModalLabel">Ihre Auswahl übermitteln</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Sie können Ihre gewählten Prüfungsfächer an uns übermitteln.
                    </p>

                    <div class="form-group">
                        <label for="comment">Möchten Sie etwas anmerken?</label>
                        <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
                    </div>


                    <div class="captcha clearfix">
                        <label for="captcha">Geben Sie die Lösung ein:</label>
                        <div class="form-group">
                            {$captcha}
                        </div>
                        <div class="form-group captcha-input">
                            <input type="number" class="form-control" id="captcha" name="captcha" placeholder="Ergebnis"
                                   required>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <input class="btn btn-primary" type="submit" value="Auswahl übermitteln">
                </div>
                <input type="hidden" name="mail" value="1">
            </form>
        </div>
    </div>
</div>

<!-- JavaScripts -->
<script src="{$path}/assets/js/jquery.min.js"></script>
<script src="{$path}/assets/js/bootstrap.min.js"></script>
<script src="{$path}/assets/js/main.js"></script>

</html>