<aside class="sidebar-info">

    <div class="title">
        Deine Informationen
    </div>

    <div class="wrapper">
        <div class="name clearfix">
            <div class="title">
                Name
            </div>
            <div class="value">
                {$firstname} {$lastname}
            </div>
        </div>

        <div class="subjects clearfix">
            <div class="sub">
                <div class="title">
                    Schwerpunkt
                </div>
                <div class="value">
                    {$main}
                </div>
            </div>
        </div>

        <div class="subjects clearfix">
            <div class="sub">
                <div class="title">
                    Prüfungsfach 1
                </div>
                <div class="value">
                    {$sub1}
                </div>
            </div>
            <div class="sub">
                <div class="title">
                    Prüfungsfach 2
                </div>
                <div class="value">
                    {$sub2}
                </div>
            </div>
            <div class="sub">
                <div class="title">
                    Prüfungsfach 3
                </div>
                <div class="value">
                    {$sub3}
                </div>
            </div>
            <div class="sub">
                <div class="title">
                    Prüfungsfach 4
                </div>
                <div class="value">
                    {$sub4}
                </div>
            </div>
            <div class="sub">
                <div class="title">
                    Prüfungsfach 5
                </div>
                <div class="value">
                    {$sub5}
                </div>
            </div>
        </div>

        <div class="clearAll">
            <a href="#" title="Ihre gespeicherten Daten vollständig löschen">Gespeicherte Daten löschen</a>
        </div>

    </div>

</aside>